<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{blogUser.username}} on {{format_date date_created}}</p>

  <section class="text-center">
    {{#each comments as |comment|}}
    {{> comment-details}}
    {{/each}}
  </section>

  <form class="form comment-form">
    <div class="form-group">
      <label for="new-comment bg-light">Comment:</label>
      <input class="form-input" type="text" id="new-comment"/>
      <button class="btn btn-primary" type="submit" id="comment">
      <a href="/comments">Comment</a>
      </button>
    </div>
  </form>
</div>

<script src="./js/comment.js"></script>