<div class="container">
  <h2 class="bg-light">Comment</h2>

  <form class="form comment-form">
    <div class="form-group">
      <label for="new-comment">Comment:</label>
      <input class="form-input" type="text" id="new-comment"/>
    </div>
  </form>
</div>

<script src="./js/comment.js"></script>