<div class="container">
  <h2 class="bg-light">New Post</h2>

  <form class="form newBlog-form">
    <div class="form-group">
      <label for="titlet">Title</label>
      <input class="form-input" type="text" id="title"/>
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <input class="form-input" type="text" id="content"/>
    </div>
    <div class="form-group">
      <button class="btn btn-success" type="submit">Post new blog</button>
    </div>
  </form>
</div>

<script src="/js/newBlog.js"></script>