
<div class="container">
  <h2>Signup</h2>

  <form class="form signup-form">
    <div class="form-group">
      <label for="name-signup"  class="fw-bold">user name:</label>
      <input class="form-input" type="text" id="name-signup" placeholder="letters and numbers only"/>
    </div>
    <div class="form-group">
      <label for="email-signup" class="fw-bold">email:</label>
      <input class="form-input" type="text" id="email-signup"/>
    </div>
    <div class="form-group">
      <label for="password-signup"  class="fw-bold">password:</label>
      <input placeholder="minimun 8 characters" class="form-input" type="password" id="password-signup"/>
    </div>
    <div class="form-group">
      <button class="btn btn-success" type="submit">signup</button>
    </div>
  </form>
</div>

<script src="/js/signup.js"></script>