.form {
	border-radius: 3;
	border: 2px, dotted, lightseagreen;
}

.form,
.blog {
	border-top: 2px dotted lightskyblue;
	border-left: 2px dotted lightskyblue;
	border-right: 2px dotted lightskyblue;
	border-bottom: 3px solid lightskyblue;
	margin: 0.5rem;
	padding: 0.5rem;
}

.comment {
	border-bottom: 3px solid lightseagreen !important;
}

button {
	margin: 0.5 rem !important;
}
